<!-- <header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"> ItsHazy</a>
  </div>
</header> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">ItsHazy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://itsprogramming.com" target="_blank">itsprogramming.com <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/ohlookitshazy" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/OhLookItsHazy" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.behance.net/ohlookitshazy" target="_blank"><i class="fab fa-behance"></i></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" target="_blank"><i class="fas fa-link"></i></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>