---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima";

body {
    background: url("./img/ItsHazy_Header.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.site-header {
    border: 0;
}

.navbar-brand {
    background: #F5F5F5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Barlow;
    font-weight: bold;
    font-size: 1.9rem;
}

.site-title:hover {
    text-decoration: none;
}

.bg-light {
    background-color: transparent !important;
}

.fab, .fas {
    color: #F5F5F5;
    font-size: 1.7rem;
    margin-left: 15px;
}

.fas {
    font-size: 1.2rem;
}

.navbar-text {
    color: #F5F5F5 !important;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #F5F5F5;
}

.nav-links {
    padding-top: 3px;
}

.fas.fa-hamburger {
    margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

@media (max-width: 992px) {
    .navbar-collapse {
        background: #383455;
    }
    .ml-auto {
        align-items: center;
    }
    
    .ml-auto li {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        width: 100%;
        text-align: center;
    }
    
    .ml-auto li:hover {
        background: rgb(178, 177, 191);
        transition: ease-in;
        transition-duration: 0.2s;
    }
}